#app {
	min-width: 550px;
	margin:0 auto;
}

.active{
	color:white;
    background: rgba(255,255,255,0.2);
}

nav{
	padding-top: 20px;
}


html, body, #app{
    height: 100%;
    background-color: #aaa;
}
 body {
    overflow-x: hidden;
 }


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    background-color: white;
    width: 100%;
    height:100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 3;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: grey;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    outline: none;
    color: white;
}

.sidebar-nav > .sidebar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 45px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#content-area{
    padding:15px;
}

.card{
    background:white;
    z-index: 1;
}
.layout{
    background-color:#aaa; 
}
.info-context{
    background-color: white;
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 20px;
}

#brand{
    height: 100%;
    width: 100%;
    background-color: orange;
    color:white;
    margin-left: -20px;
}

.toolbar{
    width:100%;
    margin-left: 0px;
    height: 50px;
    background-color: white;
}

#addWidgetButton{
    position: fixed;
    font-size: 52px;
    bottom: 15px;
    right: 15px;
    width: 76px;
    height: 76px;
    color:white;
    border-radius: 38px;
    background-color: rgba(0,90,0,0.6);
    border:none;
}

#addWidgetButton:hover{
    background-color: rgba(0,90,0,1);
}

.floating{
    float:left;
}

.clear-fixing{
    clear:both;
}

.margBottom{
    margin-bottom:20px; 
}

.dashChoice{
    background: rgba(30,30,30,1);
}

.noSelect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#logout{
    float: right;
    margin-right:10px;
    margin-top: 10px;
    background-color: rgba(200,30,30,1);
    height: 30px;
    color:white;
    border: none;
    display: inline;
}

#toolbarButtonGroup{
    float: right;
    margin-right:200px;
    margin-top: 10px;
    width: 400px;
    display: inline;
}

.toolbarButton{
    display: inline;
    margin-right:15px;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    color: white;
    background-color: black;
    float:left;

}

.toolbarButton:hover{
    background-color:  rgba(130,30,30,1);
    
}

.inline{
    display: inline;
}

#searchBar{
    margin-bottom: 25px;
    display: flex;
}

#searchIcon{
    background-color: rgba(0,0,0,1);
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    color:white;
    float:left;
    height:35px;
    width:35px;
}

#searchField{
    border:none;
    padding-left: 7px;
    height: 35px;
    font-size: 20px;
    flex:1;
}

.tableHead{
    background-color: rgba(0,0,0,1);
    color:white;
}

.tableBody{
     background-color:white;
}

.noBold{
    font-weight: normal;
}

.roleRow:hover{
    background-color: rgba(230,230,230,1);
}

.overlayCard{
    width: 95%;
    height: 40px;
    position: absolute;
    bottom:0px;
    padding-top: 8px;
    padding-left:8px; 
    left:0px;
    z-index: 3;
}

.cardOptions{
    float: right;
}

.optionPane{
    float:right;
    height: 100%;
    background-color: white;
    width:400px; 
    z-index: 5;
    padding: 10px;
}

.deleteRoleButton{
    outline: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color:black;
    color:white;
    font-size: 12px; 
    border:none;
}

.deleteRoleButton:hover{
    background-color:grey;
}

.homeButton{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    opacity: 0.7;
}

.homeButton:hover{
    opacity: 1;
}